#ratingmap {
	border: 1px solid black;
	margin-top: 40px;
	width: 100%;
	text-align: center;
	background-color: #e6ffe6;
}

path[identifier="SankeyLink"] {
	-webkit-filter: grayscale(75%);
	-moz-filter: grayscale(75%);
	-o-filter: grayscale(75%);
	-ms-filter: grayscale(75%);
	filter: grayscale(75%); 
}

table {
	width: 100%;
	border: 1px black solid;
	border-collapse:collapse;
}

td,th {
	border: 1px solid black;
}

table tr:nth-of-type(even) {
	background-color: #e6ffe6;
}
